extends layout

block content

  if registrations.length
    table.listing-table.table-dark.table-striped
      tr
        th clientid
        th agenceyid
        th Name
        th Email
        th phone
        th totalbill
      each registration in registrations
        tr
          td=registration.clientid
          td=registration.agenceyid
          td=registration.name
          td=registration.email
          td=registration.phone
          td=registration.totalbill

  else
    p No Clients registrations yet :(
